In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
2/2

1.0

In [5]:
7 / 4

1.75

In [6]:
7 % 4   #remainder operator

3

In [7]:
50 % 5

0

In [8]:
23 % 2   #To check the odd or Even

1

In [9]:
2 ** 3   #power operator (^)

8

In [10]:
 2 + 10 * 10 + 3   #Checkig whether BODMAS rule is applying

105

In [11]:
(2 + 10) * (10+3) #Checking BODMAS rule is satisfying

156

In [12]:
0.1+0.2-0.3

5.551115123125783e-17

In [13]:
a = 5

In [14]:
a

5

In [15]:
a = 10

In [16]:
a

10

In [17]:
a + a   #Taking the latest assigned value to the variable,Since a = 5 is overwritted with a = 10

20

In [18]:
a = a + a   #Executing this code again and again has property of iteration,So the "a" value gets doubled in each execution Eg : 20,40,80..etc

In [19]:
a

20

In [20]:
type(a)  #To identify what data type the variable has based on the value that the variable holds

int

In [21]:
a = "anumon"

In [22]:
a

'anumon'

In [23]:
type(a)  #Here its Str,since the variable "a" value changed from numbers to string

str

In [24]:
int  = 4    #do not use the python keywords as variables,Because it may cause errors

In [25]:
a = 40.2256

In [26]:
type(a)

float

In [27]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [28]:
my_taxes

10.0

In [29]:
#Python has reverse indexing feature 0,-4,-3,-2,-1

In [30]:
#Slicing [start:stop:step]
#start is a numerical index for the slice start
#stop is the index you will go up to (but not include)
#step is the size of the "Jump" you take

In [31]:
'hello'

'hello'

In [32]:
"hello"

'hello'

In [33]:
'this is also a string'

'this is also a string'

In [34]:
"'I'm going on a run" #using '' inside ""

"'I'm going on a run"

In [35]:
print("hello")

hello

In [36]:
"hello world one"  
"hello world two" 
#This actually prints only the last line
#To avoiding that use "print()" function

'hello world two'

In [37]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [38]:
print('hello \n world') 
#"\n" used for printing it in a new line
print('hello \t world')
#"\t" used fort backspace

hello
 world
hello 	 world

In [39]:
len('hello')
#Used for printing the length of the string

5

In [40]:
len('I am hungry')
#space between charcters count as length in len function

11

In [41]:
a = float('inf')

In [42]:
a

inf

In [43]:
mystring = "Hello World"

In [44]:
mystring

'Hello World'

In [45]:
mystring[0]

'H'

In [46]:
mystring[8]

'r'

In [47]:
#Two ways to grab letter "l" of "World"
mystring[9]

'l'

In [48]:
#Or,using reverse indexing
mystring[-2]

'l'

In [49]:
#in slicing ,we are grabing the subsection of the string
mystring = "abcdefgh"
mystring[2:]   #slice the string chars from given index till end

'cdefgh'

In [50]:
mystring[:2]  #Only counts the chars present before the index char,not include the indexed characrter in this prefix colon ":"

'ab'

In [51]:
mystring[3:6]

'def'

In [52]:
mystring[1:3]

'bc'

In [53]:
mystring[::]  #indiccates the beginning and to the end of all the strings

'abcdefgh'

In [54]:
mystring[::2]  #This is for indicating the stepsize

'aceg'

In [55]:
mystring[::3]

'adg'

In [56]:
mystring[::1]

'abcdefgh'

In [57]:
mystring[2:4:2]  #Thus we have a combination of [Start:stop:step]

'c'

In [58]:
mystring[2:4]

'cd'

In [59]:
mystring[::-1]   #Reverse the string

'hgfedcba'

In [60]:
'Hello World'[0]

'H'

In [61]:
'Hello World'[8]

'r'

In [63]:
'tinker'[1:4]

'ink'

In [64]:
#String Immutability
name  = 'Sam'

In [65]:
last_letters = name[1:]
last_letters

'am'

In [66]:
#Do the concatenation
'P' + last_letters

'Pam'

In [68]:
x = 'Hello World'

In [69]:
x + " it is beautiful outside"

'Hello World it is beautiful outside'

In [75]:
x = x + ' it is beautiful outside'

In [76]:
x

'Hello Worldit is beautiful outsideit is beautiful outside it is beautiful outside'

In [77]:
#Running again the concat code will again add the string together 
#Eg:'Hello Worldit is beautiful outsideit is beautiful outside'

In [78]:
#Can do multiple concatination
letter = 'z'
letter * 10

'zzzzzzzzzz'

In [79]:
2 + 3

5

In [80]:
'2' + '3'  #Adding two strings perform concatenation

'23'

In [81]:
#Built in functions of String
x = 'Hello World'

In [84]:
x.upper()

'HELLO WORLD'

In [85]:
x.strip()

'Hello World'

In [86]:
x.lower()

'hello world'

In [88]:
x.split()  #Create a list of the string method

['Hello', 'World']

In [89]:
x = 'Hi this is a string'

In [90]:
x.split()  #By default split splits on the white space

['Hi', 'this', 'is', 'a', 'string']

In [92]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [95]:
#formating with the .format() method
print('This is a string {}'.format('INSERTED'))  #Advantage of using this is,we can insert the string in the index position

This is a string INSERTED

In [96]:
 print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [97]:
#We can decid the order by defining the index position inside the curly bracket
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [98]:
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

In [2]:
#Instead of using the index values,we can use the key words for printing the string values
print('The {q} {b} {f}'.format(q='quick',b='brown',f='fox'))

The quick brown fox

In [3]:
print('The {f} {f} {f}'.format(q='quick',b='brown',f='fox'))

The fox fox fox

In [43]:
#Float formatting follows "{value:width.precision f}"
#Here width means the total number of digits to be printed prior to decimal number 
#It allows to adjust the width and position of the floating point number
result  = 100/777
result = 104.12345

In [44]:
print('The result was {}'.format(result))

The result was 104.12345

In [45]:
print('The result was {r}'.format(r=result))

The result was 104.12345

In [48]:
print('The result was {r:5.10f}'.format(r=result))
#Here if the result do not have the width specified ,then it will be filled with empty spaces
#If precision do not have the value specified,it will be filled with 0s

The result was 104.1234500000

In [49]:
name = "Jose"

In [51]:
print(f'Hello ,his name is {name}')

#f string replaces the .format method
#it is introduced from python 3.6 onwards

Hello ,his name is Jose

In [52]:
name = "Sam"
age = 3

In [53]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

In [55]:
#Lets explore Lists
#Python lists are very flexible in the data types that they can hold

In [58]:
my_list = ['STRING',100,23.2]

In [59]:
len(my_list)

3

In [60]:
mylist = ['one','two','three','four']

In [61]:
mylist

['one', 'two', 'three', 'four']

In [62]:
mylist[0]   #indexing

'one'

In [63]:
mylist[1:]  #Slicing

['two', 'three', 'four']

In [64]:
#Concatinate two lists
another_list = ['five','six']

In [67]:
mylist + another_list #Concatination

['one', 'two', 'three', 'four', 'five', 'six']

In [69]:
new_list = mylist + another_list    #Concatenation
new_list

['one', 'two', 'three', 'four', 'five', 'six']

In [71]:
#Update elements in string
new_list[0] = 'ONE IN ALL CAPS'

In [72]:
new_list

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [73]:
#add an elementm to the end of the list
new_list.append('seven')
new_list

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [74]:
#removing the element from the end of the list
new_list.pop()

'seven'

In [75]:
new_list

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [76]:
popped_item = new_list.pop()

In [77]:
new_list

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five']

In [78]:
#remove a item from the specified index position
new_list.pop(0)

'ONE IN ALL CAPS'

In [79]:
new_list

['two', 'three', 'four', 'five']

In [81]:
#reverse indexing is normally happening when pop() is simply called without specifying the index
new_list.pop(-1)

'four'

In [82]:
new_list

['two', 'three']

In [88]:
#sort and reverse functions
new_list = ['a','e','b','z','c','f','g','d']
num_list = [4,1,8,3]

In [90]:
new_list.sort()
new_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'z']

In [93]:
new_sorted_list = new_list.sort()

In [94]:
new_sorted_list

In [96]:
type(new_sorted_list)   #assignment to the sort() method cannot be done,it will return 'NoneType'

NoneType

In [97]:
#NoneType is a type of the "None" object

In [98]:
None   #This is used if there is no return value

In [101]:
#For assigning sort() value to a new list 
new_list.sort()
my_sorted_list = new_list

In [102]:
my_sorted_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'z']

In [103]:
num_list.sort()

In [104]:
num_list

[1, 3, 4, 8]

In [105]:
#use reverse method
num_list.reverse()

In [106]:
num_list

[8, 4, 3, 1]