In [1]:
2+1

In [2]:
2-1

In [3]:
2*2

In [4]:
2/2

In [5]:
7 / 4

In [6]:
7 % 4   #remainder operator

In [7]:
50 % 5

In [8]:
23 % 2   #To check the odd or Even

In [9]:
2 ** 3   #power operator (^)

In [10]:
 2 + 10 * 10 + 3   #Checkig whether BODMAS rule is applying

In [11]:
(2 + 10) * (10+3) #Checking BODMAS rule is satisfying

In [12]:
0.1+0.2-0.3

In [13]:
a = 5

In [14]:
a

5

In [15]:
a = 10

In [16]:
a

10

In [17]:
a + a   #Taking the latest assigned value to the variable,Since a = 5 is overwritted with a = 10

20

In [18]:
a = a + a   #Executing this code again and again has property of iteration,So the "a" value gets doubled in each execution Eg : 20,40,80..etc

In [19]:
a

20

In [20]:
type(a)  #To identify what data type the variable has based on the value that the variable holds

int

In [21]:
a = "anumon"

In [22]:
a

'anumon'

In [23]:
type(a)  #Here its Str,since the variable "a" value changed from numbers to string

str

In [24]:
int  = 4    #do not use the python keywords as variables,Because it may cause errors

In [25]:
a = 40.2256

In [26]:
type(a)

float

In [27]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [28]:
my_taxes

10.0

In [29]:
#Python has reverse indexing feature 0,-4,-3,-2,-1

In [30]:
#Slicing [start:stop:step]
#start is a numerical index for the slice start
#stop is the index you will go up to (but not include)
#step is the size of the "Jump" you take

In [31]:
'hello'

'hello'

In [32]:
"hello"

'hello'

In [33]:
'this is also a string'

'this is also a string'

In [34]:
"'I'm going on a run" #using '' inside ""

"'I'm going on a run"

In [35]:
print("hello")

hello

In [36]:
"hello world one"  
"hello world two" 
#This actually prints only the last line
#To avoiding that use "print()" function

'hello world two'

In [37]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [38]:
print('hello \n world') 
#"\n" used for printing it in a new line
print('hello \t world')
#"\t" used fort backspace

hello
 world
hello 	 world

In [39]:
len('hello')
#Used for printing the length of the string

5

In [40]:
len('I am hungry')
#space between charcters count as length in len function

11

In [41]:
a = float('inf')

In [42]:
a

inf

In [43]:
mystring = "Hello World"

In [44]:
mystring

'Hello World'

In [45]:
mystring[0]

'H'

In [46]:
mystring[8]

'r'

In [47]:
#Two ways to grab letter "l" of "World"
mystring[9]

'l'

In [48]:
#Or,using reverse indexing
mystring[-2]

'l'

In [49]:
#in slicing ,we are grabing the subsection of the string
mystring = "abcdefgh"
mystring[2:]   #slice the string chars from given index till end

'cdefgh'

In [50]:
mystring[:2]  #Only counts the chars present before the index char,not include the indexed characrter in this prefix colon ":"

'ab'

In [51]:
mystring[3:6]

'def'

In [52]:
mystring[1:3]

'bc'

In [53]:
mystring[::]  #indiccates the beginning and to the end of all the strings

'abcdefgh'

In [54]:
mystring[::2]  #This is for indicating the stepsize

'aceg'

In [55]:
mystring[::3]

'adg'

In [56]:
mystring[::1]

'abcdefgh'

In [57]:
mystring[2:4:2]  #Thus we have a combination of [Start:stop:step]

'c'

In [58]:
mystring[2:4]

'cd'

In [59]:
mystring[::-1]   #Reverse the string

'hgfedcba'

In [60]:
'Hello World'[0]

'H'

In [61]:
'Hello World'[8]

'r'

In [62]:
'tinker'[1:4]

'ink'

In [63]:
#String Immutability
name  = 'Sam'

In [64]:
last_letters = name[1:]
last_letters

'am'

In [65]:
#Do the concatenation
'P' + last_letters

'Pam'

In [66]:
x = 'Hello World'

In [67]:
x + " it is beautiful outside"

'Hello World it is beautiful outside'

In [68]:
x = x + ' it is beautiful outside'

In [69]:
x

'Hello World it is beautiful outside'

In [70]:
#Running again the concat code will again add the string together 
#Eg:'Hello Worldit is beautiful outsideit is beautiful outside'

In [71]:
#Can do multiple concatination
letter = 'z'
letter * 10

'zzzzzzzzzz'

In [72]:
2 + 3

5

In [73]:
'2' + '3'  #Adding two strings perform concatenation

'23'

In [74]:
#Built in functions of String
x = 'Hello World'

In [75]:
x.upper()

'HELLO WORLD'

In [76]:
x.strip()

'Hello World'

In [77]:
x.lower()

'hello world'

In [78]:
x.split()  #Create a list of the string method

['Hello', 'World']

In [79]:
x = 'Hi this is a string'

In [80]:
x.split()  #By default split splits on the white space

['Hi', 'this', 'is', 'a', 'string']

In [81]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [82]:
#formating with the .format() method
print('This is a string {}'.format('INSERTED'))  #Advantage of using this is,we can insert the string in the index position

This is a string INSERTED

In [83]:
 print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [84]:
#We can decid the order by defining the index position inside the curly bracket
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [85]:
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

In [86]:
#Instead of using the index values,we can use the key words for printing the string values
print('The {q} {b} {f}'.format(q='quick',b='brown',f='fox'))

The quick brown fox

In [87]:
print('The {f} {f} {f}'.format(q='quick',b='brown',f='fox'))

The fox fox fox

In [88]:
#Float formatting follows "{value:width.precision f}"
#Here width means the total number of digits to be printed prior to decimal number 
#It allows to adjust the width and position of the floating point number
result  = 100/777
result = 104.12345

In [89]:
print('The result was {}'.format(result))

The result was 104.12345

In [90]:
print('The result was {r}'.format(r=result))

The result was 104.12345

In [91]:
print('The result was {r:5.10f}'.format(r=result))
#Here if the result do not have the width specified ,then it will be filled with empty spaces
#If precision do not have the value specified,it will be filled with 0s

The result was 104.1234500000

In [92]:
name = "Jose"

In [93]:
print(f'Hello ,his name is {name}')

#f string replaces the .format method
#it is introduced from python 3.6 onwards

Hello ,his name is Jose

In [94]:
name = "Sam"
age = 3

In [95]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

In [96]:
#Lets explore Lists
#Python lists are very flexible in the data types that they can hold

In [97]:
my_list = ['STRING',100,23.2]

In [98]:
len(my_list)

3

In [99]:
mylist = ['one','two','three','four']

In [100]:
mylist

['one', 'two', 'three', 'four']

In [101]:
mylist[0]   #indexing

'one'

In [102]:
mylist[1:]  #Slicing

['two', 'three', 'four']

In [103]:
#Concatinate two lists
another_list = ['five','six']

In [104]:
mylist + another_list #Concatination

['one', 'two', 'three', 'four', 'five', 'six']

In [105]:
new_list = mylist + another_list    #Concatenation
new_list

['one', 'two', 'three', 'four', 'five', 'six']

In [106]:
#Update elements in string
new_list[0] = 'ONE IN ALL CAPS'

In [107]:
new_list

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [108]:
#add an elementm to the end of the list
new_list.append('seven')
new_list

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [109]:
#removing the element from the end of the list
new_list.pop()

'seven'

In [110]:
new_list

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [111]:
popped_item = new_list.pop()

In [112]:
new_list

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five']

In [113]:
#remove a item from the specified index position
new_list.pop(0)

'ONE IN ALL CAPS'

In [114]:
new_list

['two', 'three', 'four', 'five']

In [115]:
#reverse indexing is normally happening when pop() is simply called without specifying the index
new_list.pop(-1)

'five'

In [116]:
new_list

['two', 'three', 'four']

In [117]:
#sort and reverse functions
new_list = ['a','e','b','z','c','f','g','d']
num_list = [4,1,8,3]

In [118]:
new_list.sort()
new_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'z']

In [119]:
new_sorted_list = new_list.sort()

In [120]:
new_sorted_list

In [121]:
type(new_sorted_list)   #assignment to the sort() method cannot be done,it will return 'NoneType'

NoneType

In [122]:
#NoneType is a type of the "None" object

In [123]:
None   #This is used if there is no return value

In [124]:
#For assigning sort() value to a new list 
new_list.sort()
my_sorted_list = new_list

In [125]:
my_sorted_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'z']

In [126]:
num_list.sort()

In [127]:
num_list

[1, 3, 4, 8]

In [128]:
#use reverse method
num_list.reverse()

In [129]:
num_list

[8, 4, 3, 1]

In [130]:
#Dictionaries
#Follows a key-value pair
#{'key1':'value1','key2':'value2'}

my_dict = {'key1':'value1','key2':'value2'}

In [131]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [132]:
my_dict['key1']  #instead of using index locations ,in dictionaries we use the key to fetch the value

'value1'

In [133]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [134]:
prices_lookup['apple']

2.99

In [135]:
#Super flexible in holding different data-types

In [136]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insidekey':100}}

In [137]:
d['k2']

[0, 1, 2]

In [138]:
d['k3']

{'insidekey': 100}

In [139]:
d['k3']['insidekey']   #dictionary inside a dictionary

100

In [140]:
d['k2'][2]    #fetching list value from dictionary

2

In [141]:
d = {'key1':['a','b','c']}

In [142]:
d

{'key1': ['a', 'b', 'c']}

In [143]:
#task:= grab a letter from the list and make it as UPPER-CASE
#methd 1
mylist = d['key1']
mylist

['a', 'b', 'c']

In [144]:
letter = mylist[2]
letter

'c'

In [145]:
letter.upper()

'C'

In [146]:
#method 2
d['key1'][2].upper()

'C'

In [147]:
d = {'k1':100,'k2':200}
d

{'k1': 100, 'k2': 200}

In [148]:
#adding new value to the dictionary
d['key3'] = 300
d

{'k1': 100, 'k2': 200, 'key3': 300}

In [149]:
#Overwrite the existing key-value pair
d['k1'] = 'NEW VALUE'
d

{'k1': 'NEW VALUE', 'k2': 200, 'key3': 300}

In [150]:
d = {'k1': 100, 'k2': 200, 'key3': 300}

In [151]:
d.keys()  #display all the keys

dict_keys(['k1', 'k2', 'key3'])

In [152]:
d.values() #display all the values

dict_values([100, 200, 300])

In [153]:
#displaying actual pairs
d.items()
#the key-value pairs are displayed in a tuple format which is inside the ()

dict_items([('k1', 100), ('k2', 200), ('key3', 300)])

In [154]:
#Tuples
#Tuples are immutable,which means it cannot be edited or reassigned
#Tuples uses parenthesis : (1,2,3)
t = (1,2,3)

In [155]:
mylist= [1,2,3]

In [156]:
type(t)

tuple

In [157]:
type(mylist)

list

In [158]:
len(t)

3

In [159]:
t = ('one',2)
t

('one', 2)

In [160]:
#just like list we can do slicing and indexing in tuple
t[0]

'one'

In [161]:
t[-1]

2

In [162]:
#Two basic method for tuples index method and count method
t = ('a','a','b')

In [163]:
t.count('a')

2

In [164]:
t.index('a')  #index of the first time occurence of 'a'

0

In [165]:
t.index('b')  #index of the first time occurence of 'b'

2

In [166]:
#immutability
t[0] = 'NEW'    
#Tuple cannot be re-assigned ,since it does not support mutability
#This will throw the error

TypeError: 'tuple' object does not support item assignment

In [167]:
#Sets in python
#Unordered collections of unique elements
#There can only be one representative of the same object
myset = set()  #initialize an empty set

In [168]:
myset

set()

In [169]:
myset.add(1)

In [170]:
myset

{1}

In [171]:
myset.add(2)

In [172]:
myset

{1, 2}

In [173]:
myset.add(2)

In [174]:
myset

{1, 2}

In [175]:
#Working with set is not good approx
#Instead casting other data types is the better option

In [176]:
mylist = [6,6,6,7,7,8,8,9,9,1,1,1,2,2,2,3,3,4,4]

In [177]:
#Casting the list into the set
set(mylist)
#sets do not have any particular order

{1, 2, 3, 4, 6, 7, 8, 9}

In [178]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [179]:
#Booleans
True

True

In [180]:
true

#In python T & F should be capital (True || False) ,else error will throw

NameError: name 'true' is not defined

In [181]:
False

False

In [182]:
type(False)

bool

In [183]:
1 > 2

False

In [184]:
1 == 1

True

In [185]:
b = None
#None can be used to set the value of a variable (either boolean or any)

In [186]:
b

In [187]:
set([1,1,2,3])

{1, 2, 3}